#card{

    background-color:white;
    width: 450px;
    height: 300px;
    margin: auto;
    font-family: 'Handlee', cursive;
}

body{

    background-color: #171717;
}
p{
   font-weight: bold;
}

#izquierdo{
    padding: 4px 0px 0px 10px;
    float: left;
    width: 45%;
}

#derecho{
    padding: 4px 10px 0px 0px;
    float: right;
    width: 47%;
}

img{
    width: 65px;
    float: right;
}

.formulario{
    font-family: 'Handlee', cursive;
    width: 95%;
    padding: 4px;
    border: none;
    border-bottom: 1px solid grey;
}

#abajo{
    padding: 150px;
}

#boton{
    font-family: 'Handlee', cursive;
    font-weight: bold;
}
